<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Home</title>
	<link rel="icon" href="/img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/historycss.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" th:href="@{/}"><img src="/img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>
              <li class="nav-item"><a th:href="@{/shop}" class="nav-link" >Shop</a> </li>
              <li class="nav-item" ><a th:href="@{/tracking}" class="nav-link" aria-expanded="false">Tracking</a></li>
              <li class="nav-item" ><a class="nav-link" th:href="@{/contact}">Contact</a></li>
            </ul>

            <ul class="nav-shop">
                <li class="nav-item"><a th:href="@{/history}"><button><i class="fa fa-history" aria-hidden="true"></i></button></a></li>
              <li class="nav-item"><a th:href="@{/cart}"><button><i class="ti-shopping-cart"></i>
                <span id="nav-shop" class="nav-shop__circle"></span>
              </button> </a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/likes}"><button><i class="ti-heart"></i>
                <span id="nav-likes" class="nav-shop__circle"></span>
              </button> </a>
              </li>
              <li class="nav-item" sec:authorize="!isAuthenticated()" ><a class="button button-header" th:href="@{/login}">Login</a></li>
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <form th:method="POST" th:action="@{/logout}">
                  <button class="button button-header">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <section class="blog-banner-area" id="contact">
	  <div class="container h-100">
		  <div class="blog-banner">
			  <div class="text-center">
				  <h1>History</h1>
				  <nav aria-label="breadcrumb" class="banner-breadcrumb">
					  <ol class="breadcrumb">
						  <li class="breadcrumb-item"><a href="#">Home</a></li>
						  <li class="breadcrumb-item active" aria-current="page">History</li>
					  </ol>
				  </nav>
			  </div>
		  </div>
	  </div>
  </section>
	<!--================ End Header Menu Area =================-->

  <div class="scroll-container" id="ordersContainer">
      <h1 style="text-align: center;">History orders</h1>
      <div class="order-block" th:each="order : ${orders}">
          <h2 th:text="'Order #' + ${order.getId()}"></h2>
          <div class="product-row" th:each="products : ${order.getProducts()}">
              <div class="product-info">
                  <img th:src="${products.getImages()}" style="border: #1dc116;" alt="Product 1">
                  <p th:text="${products.getName()}" style="font-weight: bold"></p>
              </div>
              <div class="product-details">
                  <p th:text="'Count: ' + ${products.getCount()}" style="font-weight: bold; color: #4168e3" id="count-or"></p>
                  <p th:text="'Size: ' + ${products.getSize()}" style="font-weight: bold; color: #4168e3"></p>
                  <p th:text="'Price: ' + ${products.getPrice() * products.getCount()} + '0$'" style="font-weight: bold; color:#60a960"></p>
              </div>
          </div>
          <div class="order-total">
              <p th:text="'Subtotal: ' + ${order.getSubtotal()} + '.00$'"></p>
              <p th:text="'Discount: -' + ${order.getDiscount()} + '%'" style="color:red;" class="discount-order"></p>
          </div>
      </div>
  </div>



  <!--================ Start footer Area  =================-->
  <footer class="footer">
	  <div class="footer-area">
		  <div class="container">
			  <div class="row section_gap">
				  <div class="col-lg-3 col-md-6 col-sm-6">
					  <div class="single-footer-widget tp_widgets">
						  <h4 class="footer_title large_title">Our Mission</h4>
						  <p>
							  Our mission at Aroma Shop is to inspire and support people to achieve their goals through comfort and style.
							  We strive to provide a wide selection of high quality sneakers that reflect the latest trends in fashion and technology.
						  </p>
						  <p>
							  Whether you play sports, follow fashion trends or are looking for comfortable casual shoes, our store is designed to meet your needs.
							  We strive to provide a unique shopping experience by offering outstanding service and attention to every customer.
							  With Aroma Shop, every step of your journey is a step towards style, comfort and self-confidence.
						  </p>
					  </div>
				  </div>
				  <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
					  <div class="single-footer-widget tp_widgets">
						  <h4 class="footer_title">Quick Links</h4>
						  <ul class="list">
							  <li><a href="/">Home</a></li>
							  <li><a href="/shop">Shop</a></li>
							  <li><a href="/tracking">Tracking</a></li>
							  <li><a href="/cart">Cart</a></li>
							  <li><a href="/contact">Contact</a></li>
							  <li><a href="/login">Login</a></li>
							  <li><a href="/register">Registration</a></li>
						  </ul>
					  </div>
				  </div>
				  <div class="col-lg-2 col-md-6 col-sm-6">
					  <div class="single-footer-widget instafeed">
						  <h4 class="footer_title">Gallery</h4>
						  <ul class="list instafeed d-flex flex-wrap">
							  <li><img src="/img/product/New-Balance-574-ML574EVN-44.png" width="75px" height="75px" alt=""></li>
							  <li><img src="/img/product/Nike-Precision-Vi-DD9535-007-45.png" width="75px" height="75px" alt=""></li>
							  <li><img src="/img/product/Gore-Tex-Adidas-Terrex-Swift-R3-Gtx.png" width="75px" height="75px" alt=""></li>
							  <li><img src="/img/product/Skechers-896044-BLK-41.png" width="75px" height="75px" alt=""></li>
							  <li><img src="/img/product/Skechers-144521-BKW-37.png" width="75px" height="75px" alt=""></li>
							  <li><img src="/img/product/New-Balance-530-MR530SMT-42.5.png" width="75px" height="75px" alt=""></li>
						  </ul>
					  </div>
				  </div>
				  <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
					  <div class="single-footer-widget tp_widgets">
						  <h4 class="footer_title">Contact Us</h4>
						  <div class="ml-40">
							  <p class="sm-head">
								  <span class="fa fa-location-arrow"></span>
								  Head Office
							  </p>
							  <p>123, Kharkov street, Kiev</p>

							  <p class="sm-head">
								  <span class="fa fa-phone"></span>
								  Phone Number
							  </p>
							  <p>
								  +380731238979
							  </p>

							  <p class="sm-head">
								  <span class="fa fa-envelope"></span>
								  Email
							  </p>
							  <p>
								  evgenijobedkov@gmail.com
							  </p>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
  </footer>
	<!--================ End footer Area  =================-->



  <script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>

  <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="/vendors/mail-script.js"></script>
	<script src="/js/historyorder.js" ></script>
</body>
</html>